openapi: 3.2.0
info:
  title: Gandi LiveDNS TSIG API
  description: The Gandi LiveDNS API provides DNS management capabilities for domains managed by Gandi, including DNS record management, DNSSEC, zone transfers, and TSIG key management.
  version: '5.0'
  contact:
    name: Gandi Support
    url: https://www.gandi.net/
  license:
    name: Proprietary
servers:
- url: https://api.gandi.net/v5/livedns
  description: Production
- url: https://api.sandbox.gandi.net/v5/livedns
  description: Sandbox
security:
- apiKey: []
tags:
- name: TSIG
  description: Manage TSIG keys for zone transfers.
paths:
  /axfr/tsig:
    get:
      summary: List TSIG keys
      description: List TSIG keys.
      tags:
      - TSIG
      responses:
        '200':
          description: List of TSIG keys.
      operationId: getAxfrTsig
      x-operation-id-source: derived
    post:
      summary: Create TSIG key
      description: Create a new TSIG key.
      tags:
      - TSIG
      responses:
        '201':
          description: TSIG key created.
      operationId: postAxfrTsig
      x-operation-id-source: derived
  /axfr/tsig/{id}:
    get:
      summary: Get TSIG key
      description: Retrieve a specific TSIG key.
      tags:
      - TSIG
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: TSIG key details.
      operationId: getAxfrTsigById
      x-operation-id-source: derived
  /axfr/tsig/{id}/config/{software}:
    get:
      summary: Get TSIG config
      description: Retrieve the configuration for a TSIG key for specific DNS software (BIND, Knot, NSD, PowerDNS).
      tags:
      - TSIG
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: software
        in: path
        required: true
        schema:
          type: string
          enum:
          - bind
          - knot
          - nsd
          - powerdns
      responses:
        '200':
          description: Configuration snippet.
      operationId: getAxfrTsigByIdConfigBySoftware
      x-operation-id-source: derived
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Use the format `Apikey YOUR_API_KEY`.
