openapi: 3.2.0
info:
  title: Gandi LiveDNS Records API
  description: The Gandi LiveDNS API provides DNS management capabilities for domains managed by Gandi, including DNS record management, DNSSEC, zone transfers, and TSIG key management.
  version: '5.0'
  contact:
    name: Gandi Support
    url: https://www.gandi.net/
  license:
    name: Proprietary
servers:
- url: https://api.gandi.net/v5/livedns
  description: Production
- url: https://api.sandbox.gandi.net/v5/livedns
  description: Sandbox
security:
- apiKey: []
tags:
- name: Records
  description: Manage DNS records for a domain.
paths:
  /domains/{fqdn}/records:
    get:
      summary: List DNS records
      description: List all DNS records for a domain.
      tags:
      - Records
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of DNS records.
      operationId: getDomainsByFqdnRecords
      x-operation-id-source: derived
    post:
      summary: Create DNS record
      description: Create a new DNS record for a domain.
      tags:
      - Records
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Record created.
      operationId: postDomainsByFqdnRecords
      x-operation-id-source: derived
    put:
      summary: Replace DNS records
      description: Replace all DNS records for a domain.
      tags:
      - Records
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Records replaced.
      operationId: putDomainsByFqdnRecords
      x-operation-id-source: derived
    delete:
      summary: Delete all DNS records
      description: Delete all DNS records for a domain.
      tags:
      - Records
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Records deleted.
      operationId: deleteDomainsByFqdnRecords
      x-operation-id-source: derived
  /domains/{fqdn}/records/{rrset_name}:
    get:
      summary: Get records by name
      description: Retrieve DNS records matching a specific record name.
      tags:
      - Records
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: rrset_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Matching records.
      operationId: getDomainsByFqdnRecordsByRrsetName
      x-operation-id-source: derived
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Use the format `Apikey YOUR_API_KEY`.
