openapi: 3.2.0
info:
  title: Gandi LiveDNS DNSSEC API
  description: The Gandi LiveDNS API provides DNS management capabilities for domains managed by Gandi, including DNS record management, DNSSEC, zone transfers, and TSIG key management.
  version: '5.0'
  contact:
    name: Gandi Support
    url: https://www.gandi.net/
  license:
    name: Proprietary
servers:
- url: https://api.gandi.net/v5/livedns
  description: Production
- url: https://api.sandbox.gandi.net/v5/livedns
  description: Sandbox
security:
- apiKey: []
tags:
- name: DNSSEC
  description: Manage DNSSEC keys for a domain.
paths:
  /domains/{fqdn}/keys:
    get:
      summary: List DNSSEC keys
      description: List DNSSEC keys for the domain.
      tags:
      - DNSSEC
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of DNSSEC keys.
      operationId: getDomainsByFqdnKeys
      x-operation-id-source: derived
    post:
      summary: Create DNSSEC key
      description: Create a new DNSSEC key for the domain.
      tags:
      - DNSSEC
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Key created.
      operationId: postDomainsByFqdnKeys
      x-operation-id-source: derived
  /domains/{fqdn}/keys/{id}:
    get:
      summary: Get DNSSEC key
      description: Retrieve a specific DNSSEC key.
      tags:
      - DNSSEC
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: DNSSEC key details.
      operationId: getDomainsByFqdnKeysById
      x-operation-id-source: derived
    patch:
      summary: Update DNSSEC key
      description: Update a DNSSEC key.
      tags:
      - DNSSEC
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key updated.
      operationId: patchDomainsByFqdnKeysById
      x-operation-id-source: derived
    delete:
      summary: Delete DNSSEC key
      description: Delete a DNSSEC key.
      tags:
      - DNSSEC
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Key deleted.
      operationId: deleteDomainsByFqdnKeysById
      x-operation-id-source: derived
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Use the format `Apikey YOUR_API_KEY`.
