openapi: 3.2.0
info:
  title: Gandi LiveDNS Zone Transfers API
  description: The Gandi LiveDNS API provides DNS management capabilities for domains managed by Gandi, including DNS record management, DNSSEC, zone transfers, and TSIG key management.
  version: '5.0'
  contact:
    name: Gandi Support
    url: https://www.gandi.net/
  license:
    name: Proprietary
servers:
- url: https://api.gandi.net/v5/livedns
  description: Production
- url: https://api.sandbox.gandi.net/v5/livedns
  description: Sandbox
security:
- apiKey: []
tags:
- name: Zone Transfers
  description: Manage AXFR zone transfer settings.
paths:
  /domains/{fqdn}/axfr/slaves/{ip}:
    get:
      summary: Get slave server
      description: Retrieve a slave server configuration.
      tags:
      - Zone Transfers
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: ip
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Slave server info.
      operationId: getDomainsByFqdnAxfrSlavesByIp
      x-operation-id-source: derived
    put:
      summary: Add slave server
      description: Add a slave server for zone transfers.
      tags:
      - Zone Transfers
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: ip
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Slave added.
      operationId: putDomainsByFqdnAxfrSlavesByIp
      x-operation-id-source: derived
    delete:
      summary: Delete slave server
      description: Remove a slave server.
      tags:
      - Zone Transfers
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: ip
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Slave removed.
      operationId: deleteDomainsByFqdnAxfrSlavesByIp
      x-operation-id-source: derived
  /domains/{fqdn}/axfr/tsig/{id}:
    get:
      summary: Get TSIG zone transfer
      description: Retrieve a TSIG association for zone transfers.
      tags:
      - Zone Transfers
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: TSIG association info.
      operationId: getDomainsByFqdnAxfrTsigById
      x-operation-id-source: derived
    put:
      summary: Add TSIG zone transfer
      description: Associate a TSIG key with a domain for zone transfers.
      tags:
      - Zone Transfers
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: TSIG associated.
      operationId: putDomainsByFqdnAxfrTsigById
      x-operation-id-source: derived
    delete:
      summary: Delete TSIG zone transfer
      description: Remove a TSIG association from a domain.
      tags:
      - Zone Transfers
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Association removed.
      operationId: deleteDomainsByFqdnAxfrTsigById
      x-operation-id-source: derived
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Use the format `Apikey YOUR_API_KEY`.
