openapi: 3.2.0
info:
  title: Gandi Domains API
  version: '5.0'
  contact:
    name: Gandi Support
    url: https://www.gandi.net/
  license:
    name: Proprietary
  description: 'Operations tagged Domains across 2 of this provider''s published API definitions: domains-openapi-original.yml, livedns-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.gandi.net/v5/domain
  description: Production
- url: https://api.sandbox.gandi.net/v5/domain
  description: Sandbox
- url: https://api.gandi.net/v5/livedns
  description: Production
- url: https://api.sandbox.gandi.net/v5/livedns
  description: Sandbox
tags:
- name: Domains
  description: Manage domains.
paths:
  /domains:
    get:
      summary: List domains
      description: List domains owned by the user.
      tags:
      - Domains
      responses:
        '200':
          description: A list of domains.
      security:
      - bearer: []
      - apiKey: []
      operationId: getDomains
      x-operation-id-source: derived
    post:
      summary: Register domain
      description: Register a new domain name.
      tags:
      - Domains
      responses:
        '202':
          description: Registration accepted.
      security:
      - bearer: []
      - apiKey: []
      operationId: postDomains
      x-operation-id-source: derived
    servers:
    - url: https://api.gandi.net/v5/domain
      description: Production
    - url: https://api.sandbox.gandi.net/v5/domain
      description: Sandbox
  /domains/{domain}:
    get:
      summary: Get domain
      description: Retrieve detailed information for a domain.
      tags:
      - Domains
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain details.
      security:
      - bearer: []
      - apiKey: []
      operationId: getDomainsByDomain
      x-operation-id-source: derived
    delete:
      summary: Delete domain
      description: Delete a domain name.
      tags:
      - Domains
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Deletion accepted.
      security:
      - bearer: []
      - apiKey: []
      operationId: deleteDomainsByDomain
      x-operation-id-source: derived
    servers:
    - url: https://api.gandi.net/v5/domain
      description: Production
    - url: https://api.sandbox.gandi.net/v5/domain
      description: Sandbox
  /domains/{fqdn}:
    get:
      summary: Get domain
      description: Retrieve the properties of a domain.
      tags:
      - Domains
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain properties.
      security:
      - apiKey: []
      operationId: getDomainsByFqdn
      x-operation-id-source: derived
    patch:
      summary: Update domain
      description: Update the properties of a domain.
      tags:
      - Domains
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain updated.
      security:
      - apiKey: []
      operationId: patchDomainsByFqdn
      x-operation-id-source: derived
    servers:
    - url: https://api.gandi.net/v5/livedns
      description: Production
    - url: https://api.sandbox.gandi.net/v5/livedns
      description: Sandbox
  /domains/{fqdn}/nameservers:
    get:
      summary: Get nameservers
      description: Retrieve the nameservers for a domain.
      tags:
      - Domains
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Nameservers list.
      security:
      - apiKey: []
      operationId: getDomainsByFqdnNameservers
      x-operation-id-source: derived
    servers:
    - url: https://api.gandi.net/v5/livedns
      description: Production
    - url: https://api.sandbox.gandi.net/v5/livedns
      description: Sandbox
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: Personal Access Token (PAT) - format `Bearer pat_xxx`.
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Deprecated API key - format `Apikey YOUR_API_KEY`.
x-refined-from:
- domains-openapi-original.yml
- livedns-openapi-original.yml
