openapi: 3.0.3
info:
  title: Gandi Domain Authorization Domains API
  description: The Gandi Domain API enables you to register, manage, transfer, and renew domain names registered with Gandi.
  version: '5.0'
  contact:
    name: Gandi Support
    url: https://www.gandi.net/
  license:
    name: Proprietary
servers:
- url: https://api.gandi.net/v5/domain
  description: Production
- url: https://api.sandbox.gandi.net/v5/domain
  description: Sandbox
security:
- bearer: []
- apiKey: []
tags:
- name: Domains
  description: Manage domains.
paths:
  /domains:
    get:
      summary: List domains
      description: List domains owned by the user.
      tags:
      - Domains
      responses:
        '200':
          description: A list of domains.
    post:
      summary: Register domain
      description: Register a new domain name.
      tags:
      - Domains
      responses:
        '202':
          description: Registration accepted.
  /domains/{domain}:
    get:
      summary: Get domain
      description: Retrieve detailed information for a domain.
      tags:
      - Domains
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain details.
    delete:
      summary: Delete domain
      description: Delete a domain name.
      tags:
      - Domains
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Deletion accepted.
  /domains/{fqdn}:
    get:
      summary: Get domain
      description: Retrieve the properties of a domain.
      tags:
      - Domains
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain properties.
    patch:
      summary: Update domain
      description: Update the properties of a domain.
      tags:
      - Domains
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain updated.
  /domains/{fqdn}/nameservers:
    get:
      summary: Get nameservers
      description: Retrieve the nameservers for a domain.
      tags:
      - Domains
      parameters:
      - name: fqdn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Nameservers list.
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: Personal Access Token (PAT) - format `Bearer pat_xxx`.
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Deprecated API key - format `Apikey YOUR_API_KEY`.
